<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/login_css.css" type="text/css">
    <link rel="stylesheet" href="./css/login_css_for_small.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Open+Sans:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>Кіру</title>
</head>
<body>

<nav>
    <ul>
        <li><a id="home" href="/">Главная</a></li>
    </ul>
    <ul>
        <li><button onclick="changeLanguage('kz')">
                Қазақша
            </button>
        </li>
        <li>
            <button onclick="changeLanguage('ru')">
                Русский
            </button>
        </li>
    </ul>
</nav>

<!-- <form id="login">
    <div>
        <label id="email1" for="email">Электронная почта</label>
        <input type="email" name="email" id="email">
    </div>
    <div>
        <label id="password1" for="password">Пароль</label>
        <input type="password" name="password" id="password">
    </div>
    <div>
        <button id = "login1" type="submit">Войти</button>
    </div>
</form> -->

<div class="login_form">
    <svg width="1393" height="1080" viewBox="0 0 1393 1080" fill="none" xmlns="http://www.w3.org/2000/svg"
         id="register_back"></svg>
    <img id="logo" src="./assets/logo.png">
    <h2 id="balabaksha">Балабақшасы</h2>
    <p id="register">Аккаунтыңыз жоқ па?</p>
    <a href="/register" id="register_a">Тіркелу</a>
    <div>
        <p></p>
        <form name="form" id = "form" method="post">
            <h1 id="login_header">Аккаунтқа кіру</h1>
            <label for="email" id="email1">E-Mail</label>
            <input name="email" id="email" type="text">
            <label for="password" id="password1">Құпиясөз</label>
            <input name="password" id="password" type="text">
            <button type="submit" id="login1">Кіру</button>
        </form>
    </div>
</div>
    <script>




        function changeLanguage(lang) {
            location.hash = lang;
            location.reload();
        }
        var language = {
            ru: {
                name: 'Имя',
                surname: 'Фамилия',
                email: 'Электронная почта',
                password: 'Пароль',
                submit: 'Регистрация',
                home: 'Главная',
                login: 'Логин',
                registration: 'Регистрация',
                gallery: 'Галерея',
                course: 'Курсы',
                teacher: 'Учителя',
                profile: 'Профиль',
                admin: 'Админ',
                login1: 'Войти',
                about: 'О нас'
            },
            kz: {
                name: 'Аты',
                surname: 'Тегі',
                email: 'Электрондық пошта',
                password: 'Құпиясөз',
                submit: 'Тіркеу',
                home: 'Басты Бет',
                login: 'Логин',
                registration: 'Тіркеу',
                gallery: 'Галерея',
                course: 'Курстар',
                teacher: 'Мұғалімдер',
                profile: 'Профиль',
                admin: 'Админ',
                login1: 'Кіру',
                about: 'Біз туралы'
            }
        };

        if (window.location.hash) {

            if (window.location.hash == "#ru") {

                email1.textContent = language.ru.email;
                password1.textContent = language.ru.password;
                home.textContent = language.ru.home;
                login.textContent = language.ru.login;
                registration.textContent = language.ru.registration;
                gallery.textContent = language.ru.gallery;
                course.textContent = language.ru.course;
                teacher.textContent = language.ru.teacher;
                profile.textContent = language.ru.profile;
                admin.textContent = language.ru.admin;
                login1.textContent = language.ru.login1;
                about.textContent = language.ru.about;
            }
            else if (window.location.hash == "#kz") {
                email1.textContent = language.kz.email;
                password1.textContent = language.kz.password;
                home.textContent = language.kz.home;
                login.textContent = language.kz.login;
                registration.textContent = language.kz.registration;
                gallery.textContent = language.kz.gallery;
                course.textContent = language.kz.course;
                teacher.textContent = language.kz.teacher;
                profile.textContent = language.kz.profile;
                admin.textContent = language.kz.admin;
                login1.textContent = language.kz.login1;
                about.textContent = language.kz.about;
            }
        }
    </script>
</body>
</html>