@media only screen and (min-width: 769px) and (max-width: 1024px){
    #logo {
        position: absolute;
        width: 31%;
        height: 12%;
        top: 17%;
        left: 5%;
    }

    #vector1 {
        position: absolute;
        left: 70.3%;
        top: 0.05%;
    }

    #vector2 {
        position: absolute;
        left: 67.25%;
        top: 10.5%;
    }

    #vector3 {
        position: absolute;
        left: 59.75%;
        top: 18.8%;
    }

    #kids_top {
        height: 50%;
        width: 36%;
        position: absolute;
        left: 59.75%;
        top: 18.8%;
    }

    #balabaksha {
        position: absolute;
        left: 14.5%;
        top: 26%;
        font-family: 'Comfortaa', cursive;
        font-weight: 700;
        font-size: 1.667vw;
        line-height: 99.8%;
        letter-spacing: -0.01em;
        color: #000000;
    }

    #zagolovok1 {
        position: absolute;
        width: 26%;
        left: 9.6%;
        top: 34%;
        font-family: 'Comfortaa', cursive;
        font-style: normal;
        font-weight: 300;
        font-size: 2.5vw;
        line-height: 99.8%;
        letter-spacing: -0.01em;
        color: #331B3B;
    }

    #line_under_h1 {
        position: absolute;
        width: 15%;
        height: 0%;
        left: 9.7%;
        top: 49%;
        border: 1.042vw solid #FDC221;
    }

    #about_main {
        position: absolute;
        width: 45%;
        height: 82px;
        left: 9.6%;
        top: 54%;
        font-family: 'Comfortaa', cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 1.2vw;
        line-height: 146.3%;
        letter-spacing: 0.02em;
        color: rgba(51, 27, 59, 0.66);
    }
    #vector4{
        position: absolute;
        width: 100%;
        height: 50%;
        left: 0%;
        top: 90%;
        background: #EDE2DC;
        border-radius: 0px 56% 0px 0px;
    }
    #vector5{
        position: absolute;
        left: 81.5%;
        top: 87%;
    }

    .second_part{
        text-align: center;
    }
    #zagolovok2{
        position: absolute;
        width: 60%;
        height: 6%;
        top: 100%;
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 700;
        font-size: 3.333vw;
        line-height: 106.3%;
        letter-spacing: -0.01em;
        color: #331B3B;
        text-align: center;
    }
    .button-1{
        height: 20%;
        position: absolute;
        border: none;
        background-color: #FFFFFF;
        transition-duration: 0.4s;
        border-radius: 10px;
        margin-top: 85%;
        margin-left: 2%;
        left:-1%;
    }
    .button-2{
        height: 20%;
        position: absolute;
        border: none;
        background-color: #FFFFFF;
        transition-duration: 0.4s;
        border-radius: 10px;
        margin-top: 85%;
        margin-left: 28%;
        left:-1%;
    }
    .button-3{
        height: 20%;
        position: absolute;
        border: none;
        background-color: #FFFFFF;
        transition-duration: 0.4s;
        border-radius: 10px;
        margin-top: 85%;
        margin-left: 51.6%;
        left:-1%;
    }
    .button-4{
        height: 20%;
        position: absolute;
        border: none;
        background-color: #FFFFFF;
        transition-duration: 0.4s;
        border-radius: 10px;
        margin-top: 85%;
        margin-left: 74.15%;
        left:-1%;
    }
    .button-1:hover{
        background-color: #f2e6e6;
        box-shadow: black 3px 3px 3px;
    }
    .button-2:hover{
        background-color: #f2e6e6;
        box-shadow: black 3px 3px 3px;
    }
    .button-3:hover{
        background-color: #f2e6e6;
        box-shadow: black 3px 3px 3px;
    }
    .button-4:hover{
        background-color: #f2e6e6;
        box-shadow: black 3px 3px 3px;
    }
    #left{
        display: none;
    }
    #right{
        display: none;
    }
    #header_about_second{
        position: absolute;
        width: 26%;
        left: 9.6%;
        font-family: 'Comfortaa', cursive;
        font-style: normal;
        font-weight: 300;
        font-size: 2.5vw;
        line-height: 99.8%;
        letter-spacing: -0.01em;
        color: #331B3B;
    }
    #plain_text{
        position: absolute;
        width: 35%;
        height: 82px;
        left: 9.6%;
        margin-top: 5%;
        font-family: 'Comfortaa', cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 1.2vw;
        line-height: 146.3%;
        letter-spacing: 0.02em;
        color: rgba(51, 27, 59, 0.66);
    }
    #plain_img{
        position: absolute;
        width: 40%;
        height: 35%;
        margin-left: 55%;
        border-radius: 30px;
    }
    .plain{
        margin-bottom: 10px;
    }
    #vector6{
        position: absolute;
        left: 7%;
        margin-top: 30%;
    }
    #vector7{
        position: absolute;
        left: 5%;
        margin-top: 33%;
    }
    #kids{
        position: absolute;
        width: 40%;
        height: 60%;
        left: 6%;
        margin-top: 30%;
    }
    #plaint_text_second{
        position: absolute;
        width: 26%;
        margin-left: 60%;
        margin-top: 35%;
        font-family: 'Comfortaa', cursive;
        font-style: normal;
        font-weight: 300;
        font-size: 3.2vw;
        line-height: 99.8%;
        letter-spacing: -0.01em;
        color: #331B3B;
    }
    #line_under_plain_text{
        position: absolute;
        width: 10%;
        height: 0%;
        margin-left: 60.2%;
        margin-top: 50%;
        border: 0.5vw solid #FDC221;
    }
    #move_to_gallery{
        margin-left: 60.5%;
        margin-top: 55%;
        width: 13%;
        height: 7%;
        border:none;
        background-color: #123D6A;
        color:#FFFFFF;
        font-family: 'Comfortaa', cursive;
        font-style: normal;
        font-weight: 300;
        font-size: 2vw;
        line-height: 99.8%;
        letter-spacing: -0.01em;
        padding: 20px;
        border-radius: 15px;
    }
    #move_to_gallery:hover{
        transition-duration: 0.4s;
        background-color: #0a2c4d;
        box-shadow: black 3px 3px 3px;
    }
    .plain_mobile{
        display: none;
    }
    .plain_laptop{
        margin-top:110%
    }
}